html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}


#hero {
    height: 100vh;
    width: 100vw;
    background: url('../images/home/hero.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
}

.social-links {
    height: 200px;
    align-content: center;
    letter-spacing: 20px;
}

#social-media a {
    font-size: 2rem;
    transition: color 0.3s;
}

.social-links a:hover {
        color: #B20000 !important;
    }

#videos iframe {
    height: 100vh;
    width: 100vw;
}
